$black: #21242A;
$gray:  #8D9097;
$blue:  #3387D3;
$red:   #E88C8C;
$pink:  #FF9EBB;
$green: #89d66d;
$peach: #FDACAC;
$peach-faded: #FFEFEF;

:root {
	view-transition-name: root;

	--color-autocomplete-font: #{$black};
	--color-autocomplete-background-hover: #{$peach-faded};
	--color-header-background: var(--color-base-background);
	--color-base-font: #{$gray};
	--color-sidebar-font: #{$gray};
	--color-url-font: #{$blue};
	--color-error: #{$red};
	--color-search-font: #{$blue};
	--color-result-description-highlight-font: #787d87;
	--color-result-link-font: #{$black};
	--color-result-link-font-highlight: #{$black};
	--color-categories-item-selected-font: #95E6FF !important;
	--color-categories-item-border-selected: #95E6FF !important;
	--color-search-background: #f1f3f7 !important;
	--color-search-shadow: none !important;
	--color-result-search-url-font: #{$gray};
	--color-result-search-url-border: #efefef;
	--color-result-link-visited-font: #{$pink};
	--color-bar-chart-primary: #aad4ff;
	--color-settings-tr-hover: transparent;
	--color-show-btn-background: #f2f4f8;

	--icon-main: svg("peach.svg");
}

@view-transition {
	navigation: auto;
}

html {
	font-family: "IPAexGothic";
}

main {
	padding-bottom: 3rem;
}

footer {
	display: none !important;
}

select {
	appearance: auto;
	color: #4b4b4b;
	background: none;
	border: 1px #efefef solid;
	border-radius: 0.5rem;
	font-size: 1em;
	font-weight: 600;
	text-align: center;
	max-width: 14rem;
}

button {
	--color-btn-background: #95E6FF;

	&.category_button {
		border:none !important;

		&::after {
			content: "";
			position: absolute;
			width: 0;
			height: 2px;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			transition: width 0.3s ease;
			background-color: var(--color-categories-item-border-selected);
		}

		&.selected {
			&::after {
				width: 100%;
			}
		}
	}

	&.category_checkbox, &.category_button {
		color: #727789;
		font-size: 1em;
		font-weight: 600;
		font-family: "SF Pro Text";
		padding-bottom: 15px;
		margin-right: 1.8rem;

		svg {
			display: none;
		}
	}
}

div.selectable_url {
	border-radius: 2rem;
	padding: 0.5rem 1rem;
}

.link_on_top_about, .link_on_top_preferences {
	&:hover svg {
		animation: 3s rotate infinite linear;
	}
	span {
		display: none
	}
}

.dialog-error-block {
	border: none;
	padding: 30px;
	color: #4b4b4b;
	font-weight: 500;
	font-size: 1.1em;

	margin-top: 1.5em;
}

.category-videos, .category-news, .category-map, .category-music, .category-social {
	padding: 1.5rem;
}

#clear_search {
	color: $gray;
	transition: color 300ms;
	padding: .8rem 2rem;

	&:hover {
		color: $pink;
	}
}

#send_search {
	color: white;
	border-radius: 0 1.4rem 1.4rem 0;
	background-color: $pink;
	transition: background-color 200ms ease-out;

	&:hover {
		background-color: $peach;
	}
}

#engines_msg {
	.response-error {
		display: -webkit-box;
		overflow: auto;
		text-transform: capitalize;

		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;

		&::before {
			content: "0.0";
			color: var(--color-error);
			font-size: 1em;
			padding-right: 0.5rem;
		}
	}
}

.result-default {
	.published_date {
		display: none;
	}
}

.result-torrent {
	.stat svg:nth-child(1) {
		color: $green;
	}

	.stat > svg:nth-child(3) {
		color: #ffd2d1;
	}

	.badge {
		color: var(--color-base-font);
		background: none;
	}

	.sxng-icon-set-big {
		width: 1.2em;
		height: 1.2em;
	}

	.altlink {
		margin: 1.5rem 0;
	}

	.magnetlink svg {
		margin-right: 0.5em;
		vertical-align: middle;
	}
}

#main_results div#results.only_template_images #urls {
	justify-content: space-evenly;
}

.result-images {
	height: 16rem;
	flex-grow: 0;

	img {
		border-radius: 1rem;
		max-width: 200px;
	}

	&:has(img[src="/static/themes/simple/img/img_load_error.svg"]) {
		display: none;
	}

	span.source {
		font-size: 0.8rem;
	}

	.image_resolution {
		border-radius: 1rem;
		margin-right: 0.55rem;
		margin-bottom: 0.25rem;
		background-color: #fafafabb;
		box-shadow: 0 1px 3px #fafafaaa;
		color: var(--color-result-link-font);
	}

	.detail {
		--color-result-detail-font: #{$black};
		--color-result-detail-label-font: #{$gray};
		--color-result-detail-background: white;
		--color-result-detail-hr: #ddd;

		border: none !important;
		border-radius: 2rem 0 0 0;

		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

		.result-images-labels {
			h4 {
				font-size: 1.3rem !important;
				height: auto !important;
			}
		}

		.result-detail-close,
		.result-detail-previous,
		.result-detail-next {
			border: none !important;
		}

		.result-format:empty,
		.result-filesize:empty {
			display: none;
		}

		.result-images-source {
			align-content: center;
			animation: 500ms fade-out ease;
		}
	}
}
.result-videos {
	a.thumbnail_link img.thumbnail {
		width: 10rem;
	}
	.highlight {
		display: none;
	}
}

.result-file {
	.attributes {
		display: none;
	}
}

#main_index {
	.title {
		background: none;
		background-position: center;
		background-repeat: no-repeat;
		background-image: var(--icon-main);

		animation: 2s bounce cubic-bezier(0.280, 0.840, 0.420, 1);

		h1 {
			display: none !important;
		}
	}
}

#urls {
	animation: 1s slide-up cubic-bezier(0.5, 1, 0.89, 1);

	article {
		h3 {
			display: -webkit-box;
			margin: 0.7rem 0;
			overflow: hidden;

			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}

		&[data-vim-selected] {
			transition: padding-left 300ms ease-out, border 300ms ease-out;
			border-left: .2rem solid #ffcfea;
			/* padding-left: 2rem; */
			border-radius: 1rem;
		}

		@for $i from 1 through 7 {
			&:nth-child(#{$i}) {
				animation: calc((#{$i} - 1) * 300ms + 500ms) appear ease-in;
			}
		}
	}
}

#results {
	&:has(.dialog-error-block) {
		animation: 1s appear ease-in;
		#pagination {
			display: none !important;
		}
	}
}

#answers {
	/* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
	box-shadow: 0 6px 16px rgba(255, 0, 128, 0.3);
	padding: 2rem;
	margin-top: 1rem;

	.answer-url {
		background-color: #f2f4f8;
		padding: 0.2rem 0.6rem;
		border-radius: 1rem;
		user-select: none;
		margin: 15px 10px 0px auto;
	}
}

#engines_msg {
	.engine-name {
		text-transform: capitalize;
	}

	.engine-name a:visited {
		color: var(--color-url-font);
	}
}

#engines_msg-table {
	td {
		padding: 0.3rem 0 0.5rem 1rem;
		border: 0px solid #0a0a0a;
		transition: background-color 1s cubic-bezier(0.464, 0.908, 0.45, 1);
	}

	tr {
		margin: 1rem;
		border: none;
		line-height: 1.5rem;

		&:hover td {
			background-color: #ebebeb;
		}

		td {
			&:first-child {
				border-top-left-radius: 1rem;
				border-bottom-left-radius: 1rem;
			}

			&:last-child {
				border-top-right-radius: 1rem;
				border-bottom-right-radius: 1rem;
			}
		}

		.engine-name a, .engine-name a:visited {
			color: var(--color-result-link-font);
		}

		&:has(.response-error) .engine-name a {
			color: var(--color-error);
		}
	}
}

#engines_msg-title.title ::marker {
	display: none !important;
}

#links_on_top {
	right: 2rem;

	path {
		color: var(--color-result-link-font) !important;
	}
}

#categories {
	button {
		transition: color 500ms, border 500ms;

		&:hover {
			color: #7aa8d7;
		}
	}
}

.result {
	border-radius: 1rem;
	transition: background-color 300ms;

	&:hover {
		background-color: #fafafc;
	}

	&.result-videos {
		a.thumbnail_link .thumbnail_length {

			border-radius: 1rem;
			margin-right: 0.55rem;
			margin-bottom: 0.25rem;
			background-color: #fafafabb;
			box-shadow: 0 1px 3px #fafafaaa;
			color: var(--color-result-link-font);
		}
	}

	&.result-torrent {
		.content {
			font-size: 0.9em;
		}

		h3 {
			margin: 0.7rem 0;

			a {
				font-size: 1.2em;
				font-weight: 500;
			}
		}
	}

	h3 a:visited .highlight {
		color: var(--color-result-link-visited-font);
	}

	.content {
		-webkit-line-clamp: 3;
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
	}

	.url_header {
		width: fit-content;

		.url_o1 {
			color: $gray;
			font-family: "League Spartan";
			font-size: 1.3em;
		}

		.url_o2 {
			display: none
		}
	}

	.url_wrapper {
		font-size: 0.9rem;
		font-weight: 200;
		font-family: "Comfortaa";
	}

	.content, .stat {
		font-size: 1em;
		margin-bottom: 1rem;
	}

	a.thumbnail_link {
		margin-top: .9rem;
		height: 9rem;

		img.thumbnail {
			border-radius: 0.4rem;
		}
	}

	.cache_link, .proxyfied_link {
		background-color: #f2f4f8;
		padding: 0.2rem 0.6rem;
		border-radius: 1rem;
		user-select: none;
	}
}

.sxng-icon-set-small {
	height: auto;
}

.engines {
	float: left;

	span {
		background-color: #f2f4f8;
		padding: 0.2rem 0.6rem;
		border-radius: 1rem;
	}
}

#q {
	color: #778093;
	border-radius: 100px 0 0 100px;
	padding-left: 2rem;
}

.index {
	#search_header {
		.search_box {
			animation: 400ms searchbar-appear cubic-bezier(0, 0.55, 0.45, 1);
		}
	}
}

#search_header {
	&:has(#send_search:hover) {
		#search_logo {
			animation: 2s bounce cubic-bezier(0.280, 0.840, 0.420, 1);
		}
	}

	.autocomplete {
		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

		ul {
			padding: 1rem;

			> li {
				padding: .6rem 1rem;
				border-radius: 1rem;
			}
		}
	}
}

.search_filters {
	margin: 1.6rem 0 0 10.6rem;
}

.search_box {
	border-radius: 100px;
}

#search_logo {
	width: 64px;
	height: 64px;
	margin-left: -50px;
	display: block;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: var(--icon-main);

	svg { display: none }
}

#sidebar {
	padding-top: 1.2rem;

	#result_count {
		display: none;
	}

	#suggestions input[type="submit"] {
		font-size: 1.1em;
		padding: 0.1rem 0.6rem;
	}

	#search_url div.selectable_url pre {
		float: unset;
		width: unset;
		overflow: hidden;
	}

	.infobox {
		padding: 2rem;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		border: none;
		line-height: 1.6em;

		ul {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
			gap: 0.5rem;
		}

		ul > li {
			margin: 0 0.1rem;
			display: block;
			background-color: #f2f4f8;
			padding: 0.2rem 0.6rem;
			border-radius: 1rem;
		}

		.title {
			color: var(--color-result-link-font);
			font-size: 1.6em;
			font-weight: 500;
		}

		.urls {
			margin-top: 2rem;
		}
	}
}

#pagination {
	margin-top: 2rem;

	.previous_page button, .next_page button {
		font-size: 0;
		border-radius: 100%;
		transition: --color-btn-background 300ms ease-out;

		&:hover {
			--color-btn-background: $red;
		}
	}

	.page_number {
		text-decoration: none;
		transition: color 300ms ease-out;

		&:hover {
			color: var(--color-result-link-visited-font) !important;
		}
	}
}

.sidebar-collapsible {
	border: none;

	summary {
		margin-bottom: 1rem !important;
	}

	&[open] {
		& > :last-child {
			animation: 1s wipe ease-out;
		}

		#engines_msg-table > tbody {
			@for $i from 1 through 7 {
				& > :nth-child(#{$i}) .bar-chart-graph {
					animation: calc((#{$i} - 1) * 150ms + 500ms) bar-width ease-in;
				}
			}
		}
	}

	.bar-chart-bar {
		border-radius: 1rem;
		margin: 2px 0;
	}
}


#sidebar-end-collapsible {
	border: none;
}

@keyframes bar-width {
	from { width: 0; }
	to   { width: calc(100% - 5rem); }
}

@keyframes slide-up {
	from { transform: translateY(30vh); }
	to   { transform: translateY(0);    }
}

@keyframes fade-out {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes appear {
	0%  { opacity: 0; }
	60% { opacity: 0; }
	to  { opacity: 1; }
}


@keyframes rotate {
	from { transform: rotate(0deg);   }
	to   { transform: rotate(360deg); }
}

@keyframes wipe {
	from {
		-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0) 0%));
	}
	to {
		-webkit-mask-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0) 100%));
	}
}

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-1.3rem); }
    40%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-1rem); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

@keyframes searchbar-appear {
	0% {
		opacity: 0;
		transform: translateY(10vh);
	}
	60% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
